<a href="https://colab.research.google.com/github/isabellasims/Google-colabs/blob/master/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#!pip install codecademylib
import pandas as pd

Data Frame = object that stores data as rowes and columns
  - Each column as a name which is a string 
  - Each row has an index which is an integer

pd.DataFrame()
  - you can pass in dictionaries as dfs to pd.DataFrame()
  - keys = column names
  - values = list of column values
    - all columns must be the same length

**creating a df with dictionary**

In [7]:
# creates a DataFrame called df1: 
df1 = pd.DataFrame({
    'name': ['John Smith', 'Jane Doe'],
    
    'age': [34, 28]
})
print(df1)

         name  age
0  John Smith   34
1    Jane Doe   28

**Creating a df with lists**
  - values are a nested list
  - columns are a list of strings using the keyword columns = []

In [4]:
#df2 = pd.DataFrame(['John',34],['Jane',38], columns=['name','age'])
df2 = pd.DataFrame([
    ['John Smith',34],
    ['Jane Doe', 28]], columns=['name','age'])
print(df2)

         name  age
0  John Smith   34
1    Jane Doe   28

Note: to complete a column at once, use dictionary method; to complete rows at once, use list method

**CSV FILES**

does.onestop@dc.gov - many free csv files
represented as:


cal1, col2, col3



val1, val2, val3

Example data in csv format


name,cake_flavor,frosting_flavor,topping

Devil's Food,chocolate,chocolate,chocolate shavings

Birthday Cake,vanilla,vanilla,rainbow sprinkles

Carrot cake,carrot,cream cheese,almonds